*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

#container{
    margin: 0px auto;
    width: 70%;
    background-color: red;    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    height: 150px;
    background-color: lightblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    min-height: 700px;
    float: left;
    background-color: #ccc;
    text-align: center;
    line-height: 700px;
}

#articles{
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: lemonchiffon;

}

#articles article{
    width: 25%;
    height: 150px;
    background-color: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 20px;
}

/*RESPONSIVE*/

/*Desde la anchura 0px hasta la anchura 888px de pantalla*/
@media (max-width: 888px){
    /*Se ejecutaran estos estilos*/

    #articles article{
        width: 40%;
        background-color: red;
    }
}

@media (max-width: 632px){
    /*Se ejecutaran estos estilos*/

    #container{
        overflow: hidden;
    }

    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }

    #articles{
        width: 100%;
    }

    #articles article{
        width: 90%;
        background-color: blue;
    }
}

@media (max-width: 554px){
    /*Se ejecutaran estos estilos*/

    body{
        
        background-color: lightsalmon;
    }
}